* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif, Arial, Helvetica;
}

/*Navbar*/
#navbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d9d9d9;
    align-items: flex-start;
    justify-content: center;
}

.navbar-item {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
}

#navbar-img {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    order: 0;
    align-self: left;
    max-width: 200px;
}

.navbar-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-item ul a {
    list-style-type: none;
    padding: 15px 25px;
    background-color: grey;
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
}

.navbar-item ul a:hover {
    text-decoration: underline;
    background-color: #c1b6b6;
}

.hidden {
    display: none;
}

#container-image {
    width: 50%;
    display: flex;
    align-items: center;
}

#container-image h1 {
    font-size: 1.5em;
    text-align: center;
}

#container-image img {
    max-width: 100%;
}

#hamburger-button {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    top: 20px;
    order: 2;
    position: absolute;
    right: 10%;
}

#hamburger-button:hover {
    color: white;
    background-color: black;
}

/*Header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding-top: 120px;
}

#header-pfp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
}

#container-pfp {
    width: 100%;
}

#container-pfp img {
    max-width: 100%;
}

#header-apresentacao {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#container-apresentacao {
    width: 90%;
    line-height: 25px;
    padding: 0 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}


#container-apresentacao p {
    margin-bottom: 10px;
}

#botao-servicos {
    padding: 10px 20px;
    background: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    width: 60%;
    margin: auto;
    max-width: 180px;
}

#botao-servicos:hover {
    background: grey;
    color: white;
}

/*Sobre mim*/

@media(min-width: 375px) {

    #hamburger-button {
        top: 30px;
    }
}

@media(min-width: 425px) {
    #hamburger-button {
        top: 35px;
    }

}

@media(min-width: 768px) {

    header {
        padding-top: 150px;
    }

    #header-pfp {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 320px;
    }

}

@media(min-width: 1000px) {

    #hamburger-button {
        display: none;
    }

    #header-pfp {
        margin-left: 5vh;
    }

    .hidden {
        display: block;
    }

    #navbar-container {
        flex-direction: row;
        height: 15vh;
        align-items: center;
        justify-content: center;
    }

    #navbar-img {
        width: 30%;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    #container-image {
        width: 100%;
        transform: translateY(30px);
    }

    .navbar-item {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .navbar-item ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    #image-texto {
        display: none;
    }

    header {
        padding-top: 60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #container-pfp {
        width: 100%;
    }

    #container-pfp img {
        max-width: 100%;
    }

    #header-apresentacao {
        width: 70%;
        height: 35vh;
    }

    #container-apresentacao {
        width: 80%;
    }


    #container-apresentacao p {
        margin-bottom: 10px;
    }
}

@media(min-width: 1400px) {

    .navbar-item ul a {
        padding: 25px 35px;
        font-size: 1.3em;
    }

    #header-pfp {
        max-width: 400px;
    }

    #container-apresentacao {
        font-size: 1.5em;
        line-height: 40px;
    }

    #header-apresentacao{
        transform: translateY(-30px);
    }

    #botao-servicos {
    padding: 20px 30px;
    font-size: 1.2em;
    max-width: 250px;
}

}