* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

@font-face {
    font-family: "Bank Gothic Medium";
    src: url(font/BankGothicMediumBT.ttf);
}

body {
    background-color: white;
    font-family: sans-serif, Bank Gothic Medium, Arial, Helvetica;
}

:root {
    --golden: linear-gradient(to bottom, #EBDB98 10%, #A1722F);
    --golden-yellow: #EAA729;
}

/*Navbar*/

#navbar-container {
    width: 100%;
    background: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#navbar-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
}

.navbar-mensagem {
    width: 45%;
    text-align: center;
    display: none;
    font-family: Bank Gothic Medium;
}

.golden {
    background-image: var(--golden);
    background-clip: text;
    color: transparent;
}

.navbar-mensagem h2 {
    color: white;
}

#primeira-mensagem {
    transform: scaleY(1.5);
}

#segunda-mensagem {
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    transform: scaleY(1.2);
}

#container-image {
    width: 40%;
    max-width: 200px;
    position: relative;
}

@media(min-width: 992px) {
    #container-image {
        width: 10%;
    }
}

#container-image img {
    max-width: 100%;
}

.navbar {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    /*width: 60%;*/
    width: 100%;
    /*justify-content: space-between;*/
    align-items: flex-start;
    gap: 2px;
}

.navbar li {
    width: 100%;
}

.navbar li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    display: block;
    width: 100%;
    padding: 5px;
    /*
    border-radius: 10px;
    padding: 10px 20px;*/
}

.navbar li a:hover {
    background-color: grey;
    color: white;
}

#hamburger-button {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-right: 5vw;
}

#hamburger-button:hover {
    background: white;
    color: black;
}

.hidden {
    display: none;
}

/*Header*/

#cabecalho-site {
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
    align-items: center;
    background-color: #131313;
    padding-top: 80px;
    color: white;
    /*
    border: 1px solid white;
    padding: 5px;
    */
}

#header-pfp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
}

#container-pfp {
    width: 100%;
}

#container-pfp img {
    max-width: 100%;
}

#header-apresentacao {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#container-apresentacao {
    width: 90%;
    line-height: 1.3;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
    margin-top: 1rem;
    text-align: left;
}


#container-apresentacao p {
    margin-bottom: 10px;
}

#botao-servicos {
    padding: 10px 20px;
    background: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    width: 60%;
    margin: auto;
    max-width: 180px;
}

#botao-servicos:hover {
    background: grey;
    color: white;
}

/*Serviços*/
.servicos {
    text-align: center;
    font-size: 1em;
    padding-top: 100px;
    background: #131313;
    color: white;
}

.servicos h2 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

#container-servicos {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-transform: uppercase;
}

.servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #DB9B25;
    border-radius: 5px;
    width: 90%;
    height: 180px;
    max-width: 280px;
    margin: auto;
    text-align: center;
    padding: 15px;
    line-height: 1.3em;
}

.servico h4{
    margin-top: 0.5em;
    border: 1px solid red;
}

.servico .imagem-servico {
    color: var(--golden-yellow);
    border: 2px solid var(--golden-yellow);
    border-radius: 8px;
    padding: 0.3em;
    font-size: 2em;
    width: 70px;
}

.servico span{
    border: 1px solid green;
}

@media(min-width: 768px) {

    .hidden {
        display: flex;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar li {
        width: 33.3%;
        text-align: center;
    }

    .navbar li a {
        width: 50%;
        border-radius: 5px;
        margin: auto;
    }

    #hamburger-button {
        display: none;
    }

    .navbar-mensagem {
        display: block;
        font-size: 0.7em;
    }

    #navbar-img::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 1px;
        margin: auto;
        background-color: white;
    }

    #navbar-container {
        padding: 8px;
    }

    #container-apresentacao {
        width: 80%;
    }

    #container-servicos {
    grid-template-columns: 1fr 1fr;
}

}

@media(min-width: 992px) {

    #cabecalho-site {
        flex-direction: row;
    }

    #header-pfp {
        width: 40%;
        margin-left: 100px;
    }

    #header-apresentacao {
        width: 60%;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        padding-bottom: 50px;
    }

    .navbar li a {
        width: 40%;
        border-radius: 5px;
        margin: auto;
    }

    .navbar-mensagem {
        font-size: 0.8em;
    }
}

@media(min-width: 1200px) {

    #header-apresentacao {
        font-size: 1.3em;
    }

    #botao-servicos {
        font-size: 0.78em;
    }

}

@media(min-width: 1400px) {

    #header-pfp {
        margin-left: 150px;
        max-width: 400px;
    }

    #botao-servicos {
        font-size: 0.85em;
        display: block;
        max-width: 220px;
    }

    #header-apresentacao {
        font-size: 1.5em;
    }

}